{% extends "base.html" %}

{% block content %}
{% if user.is_staff %}
  <h1>Título: {{ libro.titulo }}</h1>

  <p><strong>Autor:</strong> {{ libro.autor.nombre_completo }}</p> 
  <p><strong>Resumen:</strong> {% if libro.resumen != None %} {{ libro.resumen }}{% else %} No hay resumen registrado para este libro. {% endif %}</p>
  <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
  <p><strong>Edición:</strong> {{ libro.edicion }}</p>
  <p><strong>Categoría:</strong> {{ libro.categoria.nombre }} </p>
  <p><strong>Está Disponible para reservar?:</strong> {% if libro.disponibilidad != True %}No{% else %}Si {% endif %} </p>

  {% else %}
  <h2>No tiene los privilegios necesarios para visitar esta página</h2> {% endif %}
{% endblock %}
